*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/flo.JPG);
}
header span{
    color: red;
    
}

.header{
    background-color: #fff;
}
header h1{
    padding-top: 10px;
    padding-left: 150px;


}
.navbar{
    display: flex;
}
.anchor{
    display: flex;
}
ol{
    /* display: flex;
    list-style-type: none;
    margin-left: 30px;
    justify-content: space-around;
    padding-bottom: 10px;  */
}


a{
    text-decoration: none;
    color: #333;
}
main{
    padding: 200px;
}
main h3{
    font-size: 40px;
}
main h4{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 35px;
    color: red;
}
input{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    height: 55px;
    
}
a:hover{
    color: red;
}
img{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    height: 15px;
    
    
}

 